# Copiar a .env (local) o cargar como Environment Variables en Render

# Postgres (Render te da esta URL cuando creas la base de datos)
DATABASE_URL=postgresql://faro_bd_user:0vTJrA6cZw3VWahpfSkDCAzr7E6QH5ab@dpg-d9enomu1a83c73cb6aj0-a/faro_bd

# Secreto para firmar los JWT que recibe el usuario final en el navegador
JWT_SECRET=548e2109aed51f86a4b6f71f0022ec11eadd5819d063b050477a7ef820c8012ccf3b2a4cbaa1a0dc47f64fecbcd88fa7

# Duración del token de sesión del usuario
JWT_EXPIRES_IN=8h

# Puerto (Render lo inyecta solo, esto es para correr local)
PORT=3000

# Orígenes permitidos (dominios de los Moodle que van a llamar a esta API), separados por coma
# Ej: https://miuniversidad.edu,https://otrocampus.edu
ALLOWED_ORIGINS=https://elliott-pit-titled-archives.trycloudflare.com
